<%= form_for(@quote) do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @quote %>
    <div class="displayQuote">
      <%= f.text_area(:content, :value => @quote.content, :class => "textareastyle") %>
    </div>
    <div class="displayQuote">
      <span><%= f.text_area(:attribution, :value => @quote.attribution, :class => "textareastyle") %></span>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>

  <% else %>  
    <div class="field">
      <%= f.text_area(:content, :value => "\"\"", :class => "textareastyle") %>
    </div>
    <div class="field">
      <%= f.text_area(:attribution, :value => "-", :class => "textareastyle") %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>

  <% end %>

<% end %>
