<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
	<div class="displayQuote">
		<p>
			<% @displayQuote = @quotes.sample %>
			<%= @displayQuote.content if @displayQuote %>
			<br>
    		<span><%= @displayQuote.attribution.rjust(1) if @displayQuote %></span>			
		</p>
	</div>

	<div class="buttons">
		<a href="/"><i class="glyphicon glyphicon-random">&nbsp;&nbsp;</i></a>

		<!-- %= link_to root_path do %>
    		<i class="glyphicon glyphicon-random">&nbsp;&nbsp;</i -->
		<!-- % end %-->

		<%= link_to new_quote_path do %>
    		<i class="glyphicon glyphicon-plus">&nbsp;&nbsp;</i>
		<% end %>

		<%= link_to quotes_path do %>
    		<i class="glyphicon glyphicon-menu-hamburger"></i>
		<% end %>

	</div>

<% else %>
  <div class="title">
    <p>
      AirQuotes
    </p>
  </div>
<% end %>
